@{
    ViewData["Title"] = "FindingCallNumTutorial";
}

<html lang="en">
<head>
    <style>
        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 24px;
        }

        .spacing {
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="center-content">
        <h1 class="display-4">Finding Call Numbers Tutorial</h1>
        <br />
        <br />
        <p>
            Find the bigger categories that the call number belongs to.
            For example, Social theology is 261, and it is part of 260 (Christian social and ecclesiastical theology) and 200 (Religion).
        </p>
        <br />
        <p>
            Choose the biggest group first and then the next biggest group.
            For example, Social theology is 261, and it belongs to 200 (Religion). Pick 200 first and
            then you will go to the next level where you will pick 260 (Christian social and ecclesiastical theology).
        </p>
        <br />
        <br />
        <img class="spacing" src="~/images/FindingCallnumberCorrectezgif.com-video-to-gif.gif" />
        <br />
        <br />
        <p>
            If you get the answer wrong, the random description will be regenerated and new potential answers.
        </p>
        <br />
        <br />
        <img class="spacing" src="~/images/FindingCallNumberWrongezgif.com-video-to-gif.gif" />


    </div>


</body>
</html>