@{
    ViewData["Title"] = "IdentifyAreasTutorial";
}

<html lang="en">
<head>
    <style>
        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 24px;
        }

        .spacing {
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="center-content">
        <h1 class="display-4">Identifying Call Numbers Tutorial</h1>

        

        <br />
        <br />
        <p>
            Drag numbers to boxes and hit ‘Check’ when done.
        </p>
        <br />
        <br />
        <img class="spacing" src="~/images/VideoTutorial2-NumsToDescCorrect.com-video-to-gif.gif" />
        <br />
        <p>
            ‘Go Again’ resets for description to number matching after correct attempts.
        </p>
        <br />
        <br />
        <img class="spacing" src="~/images/VideoTutorial1_DescToNumCorrect.com-video-to-gif.gif" />
        <br />
        <p>
        Green means right, red means wrong.
        </p>
        <br />
        <br />
        <img class="spacing" src="~/images/TutorialVideo3_wrongAnswer.com-video-to-gif.gif" />
        <br />
        <p>
            You can switch the numbers if you wish.
        </p>
        <br />
        <br />
        <img class="spacing" src="~/images/TutorialVideo4_SwitchNums.com-video-to-gif.gif" />

        <br />
        
        <br />
        <h3>
            List of call numbers
        </h3>

        <br />
        <table>
            <tr>
                <th>Call Number</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>000</td>
                <td>Generalities</td>
            </tr>
            <tr>
                <td>100</td>
                <td>Philosophy & psychology</td>
            </tr>
            <tr>
                <td>200</td>
                <td>Religion</td>
            </tr>
            <tr>
                <td>300</td>
                <td>Social sciences</td>
            </tr>
            <tr>
                <td>400</td>
                <td>Language</td>
            </tr>
            <tr>
                <td>500</td>
                <td>Natural sciences & mathematics</td>
            </tr>
            <tr>
                <td>600</td>
                <td>Technology (Applied sciences)</td>
            </tr>
            <tr>
                <td>700</td>
                <td>The arts</td>
            </tr>
            <tr>
                <td>800</td>
                <td>Literature & rhetoric</td>
            </tr>
            <tr>
                <td>900</td>
                <td>Geography & history</td>
            </tr>
        </table>
    </div>

</body>
</html>