@{
    ViewData["Title"] = "ReplaceBooksTutorial";
}

<html lang="en">
<head>
    <style>
        .center-content {
            display: flex;
            flex-direction: column;
            align-items:center;
            text-align: center;
            font-size:24px;
        }
        .spacing{
            margin:10px;
        }
    </style>
</head>
<body>
    <div class="center-content">
        <h1 class="display-4">Replacing Book Tutorial</h1>
        <br/>
        <br />
        <p >
            STEP 1: Drag and drop the call numbers to the boxes
        </p>
        <br/>
        <br />
        <img class="spacing" src="~/images/ezgif.com-video-to-gif.gif" />
        <br />
        <p>
            If you want to switch the numbers around, drag and drop the number you want to switch
            and place it on top of the already existing number.Then remove the existing number and place it in the empty box.
        </p>
        <br />
        <img class="spacing" src="~/images/tutorialvideo2ezgif.com-video-to-gif.gif" />
        <br />
        <p>
            STEP 2: Once you sort the numbers then click the check button and your numbers will
            be checked and the background will turn green once the user gets the order right.
        </p>
        <br />
        <img class="spacing" src="~/images/tutorialvideo3ezgif.com-video-to-gif.gif" />
        <br />
        <p>
            Getting the order wrong will make the background turn red.
        </p>
        <br />
        <img class="spacing" src="~/images/progtutorialvideo4ezgif.com-video-to-gif.gif" />
        <br />
        <p>
            Once you get the order right, you can go to next level by clicking "NEXT LEVELAdded".
        </p>
        <br />
        <br />
        <p>
            To see achievements, click the star in the top left corner.
        </p>

    </div>

    
    
 

</body>
</html>