@{
    ViewData["Title"] = "ReplaceBooksTutorial";
}

<html lang="en">
<head>

</head>
<body>
    <div>
        <h1 class="display-4">Replacing Book Tutorial</h1>
        <br/>
        <br />
        <p>
            STEP 1: Drag and drop the call numbers to the boxes
        </p>
        <br/>
        <br />
        <img src="~/images/ezgif.com-video-to-gif.gif" width="1000" />
    </div>

    
    
 

</body>
</html>