@{
    ViewData["Title"] = "ReplaceBooksTutorial";
}

<html lang="en">
<head>

</head>
<body>
    <div>
        <h1 class="display-4">Replacing Book Tutorial</h1>
        <br/>
        <br />
        <p>
            STEP 1: Drag and drop the call numbers to the boxes
        </p>
        <br/>
        <br />
        <img src="~/images/ezgif.com-video-to-gif.gif" width="1000" />
        <br />
        <p>
            If you want to switch the numbers around, drag and drop the number you want to switch
            and place it on top of the already existing number.Then remove the existing number and place it in the empty box.
        </p>
        <br />
        <img src="~/images/tutorialvideo2ezgif.com-video-to-gif.gif" width="1000" />
        <br />
        <p>
            Once you sort the numbers then click the check button and your numbers will be checked
        </p>
        <br />
        <br />

    </div>

    
    
 

</body>
</html>