
@{
    ViewData["Title"] = "ReplacingBook";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <style>


        .center-content {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center vertically */
            align-items: center; /* Center horizontally */
            height: 100vh; /* Adjust as needed */
        }
        .row {
            display: inline-flex; /* Use flexbox to create a horizontal row */
            justify-content: space-between; /* Space items evenly within the row */
        }

        /* Adjust the styles for the draggable and droppable elements */
        .draggable {
            border-radius: 10px;
            width: 125px;
            height: 45px;
            border: 1px solid black;
            display: flex; /* Enable flexbox */
            justify-content: center; /* Center children horizontally */
            align-items: center;
            margin: 5px;
        }

        .help-icon {
            position: absolute;
            top: 60px; /* Adjust based on the height of your navbar */
            right: 10px;
            width: 50px; 
            height: 50px;
        }

        .achievement-icon {
            position: absolute;
            top: 60px; /* Adjust based on the height of your navbar */
            left: 10px;
            width: 50px;
            height: 50px;
        }

        .droppable {
            border-radius: 10px;
            width: 135px;
            height: 75px;
            border: 1px solid black;
            background-color: lightblue;
            display: flex; /* Enable flexbox */
            justify-content: center; /* Center children horizontally */
            align-items: center;
            margin: 5px;
        }

        .draggable p {
            margin: 0; /* Remove margins */
        }

        body {
            /* Add a transition effect for the background-color property */
            transition: background-color 1s ease;
        }


        .correct-answer {
            /* Change the background color to green */
            background-color: #00FF00;
        }

        .wrong-answer {
            /* Change the background color to red */
            background-color: #FF0000;
        }

    </style>
</head>


<body>
    <a asp-controller="Home" asp-action="ReplaceBooksTutorial">
    <img src="~/images/icons8_help_100.png" class="help-icon" alt="Help Icon" />
    </a>

    <a asp-controller="Home" asp-action="GotoAchivements">
        <img src="~/images/icons8_star_100.png" class="achievement-icon" alt="Achievement Icon" />
    </a>
    <div class="center-content">
        <h4 class ="display-5">Order the numbers in ascending order</h4>
        

        <div class="row">
            @foreach (var item in Model)
                {
                <div id="@("draggable" + item.mainNum)" draggable="true" ondragstart="drag(event)" class="draggable">
                    <p>@item.mainNum</p>
                </div>
                }
        </div>
        
        <br />
        <br />
        <div class="row" >
            @foreach (var item in Model)
            {
                <div class="droppable" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <p></p>
                    </div>
            }
        </div>
        <br/>
        <br />
        <button id="checkButton" class="btn btn-primary">CHECK</button>
    </div>
    
</body>
</html>



@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
            console.log(data);
        }

        document.getElementById('checkButton').addEventListener('click', function () {
            var droppables = document.getElementsByClassName('droppable');
            var data = [];
            for (var i = 0; i < droppables.length; i++) {
                if (droppables[i].hasChildNodes()) {
                    // Get the id of the first child node of the droppable element
                    var id = droppables[i].childNodes[3].id;
                    // Remove the "draggable" part of the id to get the original data
                    var originalData = id.match(/\d{3}\.\d{3} \w{3}/)[0];
                    data.push(originalData);
                }
            }
            console.log(data);

            // Send data to server
            $.ajax({
                url: '/Home/CheckOrder', // Replace with your URL
                type: 'POST',
                data: { 'data': data },
                success: function (response) {
                    // Handle success here
                    console.log(response);
                    if (response.success == true) { // Use '==' or '===' for comparison
                        document.body.classList.add("correct-answer");
                        setTimeout(function () {
                            document.body.classList.remove("correct-answer");
                        }, 3000);
                    } else {
                        document.body.classList.add("wrong-answer");
                        setTimeout(function () {
                            document.body.classList.remove("wrong-answer");
                        }, 2000);
                    }
                    
                },
                error: function (error) {
                    // Handle error here
                    console.log(error);
                }

                
            });


         
        });
    </script>


}
